<div class="principal-container">
  <div class="home-insurance-container background-primary-color container-show-and-hide">
    <!-- <div class="home-insurance-container background-primary-color"> -->
    <div class="container-logo">
      <img src="assets/icons/itau-logo@2x.svg" alt="Logo Itáu">
    </div>
  </div>
  <div class="container-desktop">
    <div class="container-infos-home">
      <app-infos-seguro-home></app-infos-seguro-home>
    </div>
    <div class="container-router-infos">
      <router-outlet style="display: none;"></router-outlet>
    </div>

  </div>
</div>
